<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>reservations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-page">
  <ion-content>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Tus Contrataciones!</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Por aquí podrás encontrar las contrataciones de servicio programadas.
      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ion-card>
          <img alt="Silhouette of mountains" src="assets\icon\14ef60e0026d6851b1bd022c06af94e42ad81d80.jpg" />
          <ion-card-header>
            <ion-card-title>Fabiola lin</ion-card-title>
            <ion-card-subtitle>Te presentamos a :</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ion-icon name="earth-outline"></ion-icon>              Estado: Nuevo Leon
          </ion-card-content>

          <ion-card-content>
            <ion-icon name="pin-outline"></ion-icon>
            Ciudad: Monterrey
          </ion-card-content>

          <ion-card-content>
            <ion-icon name="time-outline"></ion-icon>
            Horario preferido: AM
          </ion-card-content>

          <ion-card-content>
            <ion-icon name="cash-outline"></ion-icon>
            Tarifa por hora: 120$
          </ion-card-content>

          <ion-card-content>
            <ion-icon name="hourglass-outline"></ion-icon>
            Horas al dia Contratadas: 4
          </ion-card-content>

          <ion-card-content>
            <ion-icon name="calendar-outline"></ion-icon>
            Fecha : Septiembre 7 a Septiembre 11
          </ion-card-content>
          
          <ion-button shape="round">Cancelar Contratacion</ion-button>

        </ion-card>
      </ion-card-content>
    </ion-card>
    
  </ion-content>
</ion-content>
