ion-header {
  --background: white; /* Fondo blanco */
}

ion-toolbar {
  --background: white; /* Fondo blanco en la barra superior */
}

ion-title {
  color: black; /* Letras en negro */
}

ion-content {
  --background: white; /* Fondo principal blanco */
  display: flex; /* Usa flexbox para el contenido */
  flex-direction: column; /* Orienta los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
}

ion-card {
  --background: white; /* Fondo blanco en las tarjetas */
  --ion-card-border-color: yellow; /* Borde amarillo en las tarjetas */
  width: 90%; /* Ajusta el ancho de las tarjetas según sea necesario */
  margin-bottom: 20px; /* Espacio entre las tarjetas */
}

ion-card-title {
  color: black; /* Título de tarjeta en negro */
}

ion-datetime {
  display: block; /* Asegura que el elemento se comporte como un bloque */
  margin: 0 auto; /* Centra el elemento horizontalmente */
  width: 100%; /* Ajusta el ancho al contenedor */
}

ion-select {
  --placeholder-color: black; /* Texto del placeholder en negro */
  --color: black; /* Texto seleccionado en negro */
  --background: white; /* Fondo blanco en el selector */
}

ion-select-option {
  --color-checked: black; /* Texto en negro cuando la opción está seleccionada */
  --background-checked: yellow; /* Fondo amarillo cuando la opción está seleccionada */
  --color: black; /* Texto de las opciones en negro */
}

ion-item {
  --background: white; /* Fondo blanco en los ítems */
}

ion-datetime {
  --background: white; /* Fondo blanco en el date picker */
  --color: black; /* Texto en negro */
}

ion-infinite-scroll-content {
  --background: white; /* Fondo blanco en el infinite scroll */
}
