/* Fondo principal de la página */
ion-content.register-container {
  --background: #ffffff; /* Fondo blanco para todo el contenido */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Altura completa de la vista */
}

/* Contenedor del formulario de registro */
.register-form {
  width: 100%;
  max-width: 500px; /* Ancho máximo del formulario */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  border-radius: 10px; /* Bordes redondeados */
}

/* Tarjeta del formulario de registro */
.register-card {
  background-color: #f1f1f1; /* Fondo claro para la tarjeta */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Padding interno */
}

/* Estilo del título de la aplicación */
.app-title {
  color: #FFC33F; /* Amarillo para el título */
  font-size: 24px;
  text-align: center; /* Centrar el título */
  margin-bottom: 20px; /* Espacio debajo del título */
}

/* Estilo para los items */
ion-item {
  --background: #f1f1f1; /* Fondo claro para los campos */
  --border-color: #ccc; /* Color del borde de los campos */
  --color: #333; /* Color del texto dentro de los campos */
  margin-bottom: 16px; /* Espacio entre los campos */
  border-radius: 10px; /* Bordes redondeados */
}

/* Estilo de las etiquetas */
ion-label {
  color: #333; /* Gris oscuro para las etiquetas */
}

/* Estilo de los inputs */
ion-input {
  --color: #333; /* Texto gris oscuro dentro de los inputs */
}

/* Estilo del botón de registro */
.register-button {
  margin-top: 20px;
  background-color: #FFC33F !important; /* Fondo amarillo para el botón */
  color: #ffffff; /* Texto blanco para el botón */
  --background: #FFC33F !important; /* Fondo amarillo para el botón */
  --color: #ffffff; /* Texto blanco para el botón */
}

/* Estilo del enlace de inicio de sesión */
.login-link {
  margin-top: 20px; /* Espacio superior */
}

.login-link p {
  color: #333; /* Gris oscuro para el texto del enlace */
  font-size: 0.9em; /* Tamaño de fuente */
}

.login-link a {
  color: #FFC33F; /* Amarillo para el enlace */
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline; /* Subrayar el enlace al pasar el ratón */
}
