<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-page">

  <ion-card>
    <ion-card-header>
      <ion-card-title>¡Qué bueno que vuelves, Alexander!</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Por aquí podrás encontrar diferentes postulaciones para hacer la limpieza de tu hogar un poco más sencilla!
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <img alt="Silhouette of mountains" src="assets\icon\Screenshot 2024-09-17 160024.png" />
    <ion-card-header>
      <ion-card-title>Karen Gracia</ion-card-title>
      <ion-card-subtitle>Te presentamos a :</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-icon name="earth-outline"></ion-icon>              Estado: Nuevo Leon
    </ion-card-content>

    <ion-card-content>
      <ion-icon name="pin-outline"></ion-icon>              Ciudad: San Pedro
    </ion-card-content>

    <ion-card-content>
      <ion-icon name="time-outline"></ion-icon>
      Horario preferido: AM
    </ion-card-content>

    <ion-card-content>
      <ion-icon name="cash-outline"></ion-icon>
      Tarifa por hora: 100$
    </ion-card-content>
    <ion-button shape="round">Visitar Perfil</ion-button>

    
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets\icon\8fa7af7a4b54d3eaf19b7984a4aa614744a2bd1c.jpg" />
    <ion-card-header>
      <ion-card-title>Alondra Bustamante</ion-card-title>
      <ion-card-subtitle>Te presentamos a :</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-icon name="earth-outline"></ion-icon>              Estado: Nuevo Leon
    </ion-card-content>

    <ion-card-content>
      <ion-icon name="pin-outline"></ion-icon>              Ciudad: Escobedo
    </ion-card-content>

    <ion-card-content>
      <ion-icon name="time-outline"></ion-icon>
      Horario preferido: AM
    </ion-card-content>

    <ion-card-content>
      <ion-icon name="cash-outline"></ion-icon>
      Tarifa por hora: 85$
    </ion-card-content>
    <ion-button shape="round">Visitar Perfil</ion-button>

  </ion-card>


  <ion-card>
    <img alt="Silhouette of mountains" src="assets\icon\artbreeder-image-2024-09-17T22_15_58.914Z.jpeg" />
    <ion-card-header>
      <ion-card-title>Lidia Cortez</ion-card-title>
      <ion-card-subtitle>Te presentamos a :</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-icon name="earth-outline"></ion-icon>              Estado: Nuevo Leon
    </ion-card-content>

    <ion-card-content>
      <ion-icon name="pin-outline"></ion-icon>
      Ciudad: San Nicolas
    </ion-card-content>

    <ion-card-content>
      <ion-icon name="time-outline"></ion-icon>
      Horario preferido: PM
    </ion-card-content>

    <ion-card-content>
      <ion-icon name="cash-outline"></ion-icon>
      Tarifa por hora: 91$
    </ion-card-content>
    <ion-button shape="round">Visitar Perfil</ion-button>

  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets\icon\14ef60e0026d6851b1bd022c06af94e42ad81d80.jpg" />
    <ion-card-header>
      <ion-card-title>Fabiola lin</ion-card-title>
      <ion-card-subtitle>Te presentamos a :</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-icon name="earth-outline"></ion-icon>              Estado: Nuevo Leon
    </ion-card-content>

    <ion-card-content>
      <ion-icon name="pin-outline"></ion-icon>
      Ciudad: Monterrey
    </ion-card-content>

    <ion-card-content>
      <ion-icon name="time-outline"></ion-icon>
      Horario preferido: AM
    </ion-card-content>

    <ion-card-content>
      <ion-icon name="cash-outline"></ion-icon>
      Tarifa por hora: 120$
    </ion-card-content>
    <ion-button shape="round">Visitar Perfil</ion-button>

  </ion-card>

  <ion-button id="mostrar-mas" shape="round">Mas Opciones</ion-button>


</ion-content>
