<ion-header>
  <ion-toolbar>
    <ion-title class="header-title">
      Pro Hogar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="form-container">
  <div class="form-content">
    <h2 class="form-title">Formulario de Registro</h2>
    <form (ngSubmit)="onSubmit()" #registrationForm="ngForm">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="formData.nombre" name="nombre" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input type="text" [(ngModel)]="formData.apellido" name="apellido" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">CURP</ion-label>
        <ion-input type="text" [(ngModel)]="formData.curp" name="curp" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Código Postal</ion-label>
        <ion-input type="text" [(ngModel)]="formData.codigoPostal" name="codigoPostal" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Celular</ion-label>
        <ion-input type="text" [(ngModel)]="formData.celular" name="celular" required></ion-input>
      </ion-item>

      <ion-button expand="full" type="submit" class="confirm-button">Confirmar</ion-button>
    </form>
  </div>
</ion-content>
